<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="header">
    
      <nav class="navbar">
        <h1 id="title">Welcome to the Tech Blog!</h1>
        {{!-- <button class="btn" id="login">Login</button>
        <button class="btn" id="logout">Logout</button> --}}
        <a class="navLinks" id="login" href="/login">login</a>
        <a class="navLinks" id="logout" href="/login">logout</a>
        {{#if logged_in}}
        <a href="/homepage"></a>
        {{!-- <button class="btn" id="logout">Logout</button> --}}
        <script src="/js/logout.js"></script>
        {{else}}
        
          {{!-- <a id="login" href="/login">login</a>
          <a id="login" href="/login">logout</a>
          <script src="/js/logout.js"></script> --}}
        {{/if}}
      </nav>
  </header>

  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>

  <footer>
    <div className="footer">
      © 2023 Copyright: <p>Stephen Novelli 2023</p>
    </div>
  </footer>

  {{#if logged_in}}
    <script src="/js/logout.js"></script>
  {{/if}}
  
</body>

</html>
