
<head><link rel="stylesheet" href="/css/homepage.css"></head>

{{!-- Renders all posts on the Homepage --}}
{{#if logged_in}}
    <h2>Home</h2>
    <button class="btn" id="Dashboard">Dashboard</button>
    {{#each posts}}
    <div class="homepagePosts"> 
    <h3>{{postTitle}}</h3>
    <p>{{postBody}}</p>
    </div>
    {{/each}}
{{/if}}

{{#each comments}}
   <p>{{commentBody}}</p>
{{/each}}




<script src="/js/logout.js"></script>
<script src="../js/homepage.js"></script>

