
<head><link rel="stylesheet" href="/css/homepage.css"></head>

<nav>
    {{!-- <button class="btn" id="Dashboard">Dashboard</button> --}}
    
</nav>
{{#if logged_in}}
<h2>Home</h2>
<button class="btn" id="Dashboard">Dashboard</button>
<div> 
{{#each posts}}
<h2>{{postTitle}}</h2>
<p>{{postBody}}</p>
{{/each}}

</div>

{{/if}}


<script src="/js/logout.js"></script>
<script src="../js/homepage.js"></script>