/* Styling for dashboard page. */
.postCard {
  display: flex;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  border-style: solid;
  border-color: #475b74;
  border-radius: 50%;
  padding: 8%;
  border-left-color: #e0e1dc;
  z-index: 1100;
}

.createPostBtn {
  background-color: #7c8da5;
  border-color: #e0e1dc;
  border-radius: 5px;
  color: #1d2538;
  margin-bottom: 1%;
  margin-top: 1%;
}

#deletePostBtn {
  background-color: #7c8da5;
  border-color: #e0e1dc;
  border-radius: 5px;
  color: #1d2538;
  margin-bottom: 1%;
  margin-top: 1%;
}

.addCommentBtn {
  background-color: #7c8da5;
  border-color: #e0e1dc;
  border-radius: 5px;
  color: #1d2538;
  margin-bottom: 1%;
  margin-top: 1%;
}

.commentDeleteBtn {
  background-color: #7c8da5;
  border-color: #e0e1dc;
  border-radius: 5px;
  color: #1d2538;
  margin-bottom: 1%;
  margin-top: 1%;
}
