/* Styling for login page. */
.textCenter {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 2%;
}

.row {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 992px) {
  .row {
    flex-direction: column;
  }
}

.column {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 2%;
}

@media screen and (max-width: 992px) {
  .column {
    margin-bottom: 10%;
    margin-top: 10%;
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  .card {
    width: 80%;
    padding: 12%;
  }
}

@media screen and (max-width: 992px) {
  .form-group {
    background-color: transparent;
    margin-top: 5%;
  }
}

@media screen and (max-width: 992px) {
  #loginBreak {
    width: 95%;
  }
}
