/* Styling for login page. */

h1 {
  color: #e0e1dc;
}

h2 {
  color: #e0e1dc;
}

.row {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 992px) {
  .row {
    flex-direction: column;
  }
}

.column {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  .column {
    margin-bottom: 10%;
    width: 80%;
  }
}

.card {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  border-style: solid;
  border-color: #475b74;
  border-radius: 50%;
  padding: 8%;
  border-left-color: #e0e1dc;
  z-index: 1100;
}

@media screen and (max-width: 992px) {
  .card {
    width: 80%;
    padding: 12%;
  }
}

#formText {
  font-size: 16px;
}

.form.login-form {
  color: #e0e1dc;
  font-size: 24px;
  background-color: transparent;
  width: 80%;
}

.form.signup-form {
  color: #e0e1dc;
  font-size: 24px;
  background-color: transparent;
  width: 80%;
}

.form-input {
  border-style: solid;
  border-color: black;
  font-size: 14px;
  border-width: 2px;
  padding: 1%;
  height: 32px;
  width: 100%;
  display: flex;
  border-radius: 5px;
  margin-bottom: 4%;
  text-align: top;
  word-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  margin-top: 5%;
}

.form-group {
  background-color: transparent;
}

@media screen and (max-width: 992px) {
  .form-group {
    background-color: transparent;
    margin-top: 5%;
  }
}

/* Fix the button border color and try adding name input to login form to get button position correct. */
.btn {
  background-color: #7c8da5;
  border-color: #1d2538;
  border-radius: 50px;
  border-width: 8px;
  color: #1d2538;
  margin-bottom: 1%;
  margin-top: 1%;
  font-size: 20px;
  height: 60px;
  width: 80px;
}
